<!DOCTYPE html>
<html>
<head>
    <title>Guardian Login Demo</title>
</head>
<body>

    <h1>Guardian Login</h1>

    <form action="/login" method="POST">

        <label>Username</label>
        <br>
        <input
            type="text"
            name="username"
            placeholder="Enter username"
        >

        <br><br>

        <label>Password</label>
        <br>

        <input
            type="password"
            name="password"
            placeholder="Enter password"
        >

        <br><br>

        <button type="submit">
            Login
        </button>

    </form>

</body>
</html>